<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue dans l'Application de Gestion des Jardins</h1>
    <p class="lead">Application développée par Ala Dimassi</p>
    <hr class="my-4">
    <p>Cette application permet de gérer les jardins avec les fonctionnalités CRUD complètes.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/jardin/list" role="button">Voir les Jardins</a>
      <a class="btn btn-success btn-lg ms-2" routerLink="/jardin/add" role="button">Ajouter un Jardin</a>
    </p>
  </div>
</div>
